.post-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-items: flex-start;*/
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  width: 200px;
  height: 200px; /* 세로 크기 조정 */
  border-radius: 8px;
  text-align: left;
  margin-bottom: 40px; /* 아래쪽 간격을 40px로 설정합니다. */
}

.post-summary:hover {
  background-color: #f0f0f0;
  color: #000;
  border-color: #999;
}

h2 {
  margin-bottom: 10px; /* 제목과 date/link 사이에 공간을 추가합니다. */
  font-size: 20px;
}

.post-summary .sub {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
