.toc-container {
  /*position: fixed; */ /* TOC를 화면에 고정합니다. */
  left: 0; /* 왼쪽에 고정합니다. */
  top: 100px; /* 화면 상단에 고정합니다. */
  height: 640px; /* 화면 전체 높이를 차지합니다. */
  width: 200px; /* TOC의 너비를 지정합니다. */
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* 배경색을 지정합니다. */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤이 생기도록 설정합니다. */
  padding: 20px; /* 안쪽 여백을 설정합니다. */
}

.toc {
  min-height: 800px; /* TOC의 최소 높이를 800px로 지정합니다. */
}
