.App-header {
  background-color: #cfd6e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.initial-content {
  padding-top: 0px;
}
.main {
  display: flex;
  min-height: 800px;
}

.main .content {
  margin-left: 20px;
}

@font-face {
  font-family: "square";
  src: url("./fonts/square.ttf") format("truetype");
}
@font-face {
  font-family: "taebaek";
  src: url("./fonts/taebaek.ttf") format("truetype");
}
@font-face {
  font-family: "taebaekmw";
  src: url("./fonts/taebaekmw.ttf") format("truetype");
}

.contact-container,
.about-container,
.toc,
.breadcrumbs,
.header {
  font-family: "square"; /* 폰트를 지정합니다. */
}

.footer {
  font-family: "taebaekmw"; /* 폰트를 지정합니다. */
}
