.App-header {
  background-color: #cfd6e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.initial-content {
  padding-top: 0px;
}
.main {
  display: flex;
  min-height: 800px;
}

.main .content {
  margin-left: 20px;
}
